################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TaskList.BusinessLogic/obj
/TaskList.BusinessLogic/bin
/TaskList.DataAccess/obj
/TaskList.DataAccess/bin
/TaskList/TaskList.db
/TaskList.DataAccess/publish
/TaskList.BusinessLogic/publish
/TaskList/publish
