<form [formGroup]="taskForm" class="add-task-form">
  <mat-form-field>
    <input formControlName ="name" matInput placeholder="Name">
  </mat-form-field>
  <mat-form-field>
    <textarea formControlName="description" matInput placeholder="Description"></textarea>
  </mat-form-field>
  <mat-form-field>
    <input formControlName="priority" matInput type="number" min="1" max="9" placeholder="Priority">
  </mat-form-field>
  <mat-form-field>
    <input formControlName="timeToComplete" matInput type="datetime-local" placeholder="Time to complete">
  </mat-form-field>
</form>
<button mat-raised-button (click)="save()" [disabled]="!taskForm.valid">Save</button>
