<div class="example-container">
  <mat-form-field>
    <input [(ngModel)]="Task.name" matInput placeholder="Name">
  </mat-form-field>
  <mat-form-field>
    <textarea [(ngModel)]="Task.description" matInput placeholder="Description"></textarea>
  </mat-form-field>
  <mat-form-field>
    <input [(ngModel)]="Task.priority" matInput type="number" min="0" max="10" placeholder="Priority">
  </mat-form-field>
  <mat-form-field>
    <input [(ngModel)]="Task.timeToComplete" matInput type="datetime-local" placeholder="Time to complete">
  </mat-form-field>
</div>
<button mat-raised-button (click)="save()">Save</button>
