.task-details {
  position: relative;
  height: 100%;
  min-height: 200px;
  margin-bottom: 10px;
}

.task-details-content {
  border: 2px solid black;
  padding: 10px;
  height: 100%;
}

.task-details-title {
  position: absolute;
  top: -10px;
  background-color: #FFFFFF;
  padding: 0 5px;
  margin-left: 5px;
}

.details-row {
  padding: 5px 0;
  display: flex;
  height: 15%;
  min-height: 30px;
}

.row-label {
  flex: 0 0 80px;
}

.details-row .row-content {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 20px;
}

.details-row-extended {
  padding: 5px 0;
  display: flex;
  height: 40%;
  min-height: 70px;
}

  .details-row-extended .row-content {
    overflow-y: auto;
  }
