<h2>Task list</h2>
<div class="list-header clearfix">
  <mat-button-toggle-group name="statusFilter" aria-label="Status filter" [value]="taskFilter" (change)="onFilterChange($event.value)">
    <mat-button-toggle [value]="TaskListFilter.All">All</mat-button-toggle>
    <mat-button-toggle [value]="TaskListFilter.Active">Active</mat-button-toggle>
    <mat-button-toggle [value]="TaskListFilter.Completed">Completed</mat-button-toggle>
  </mat-button-toggle-group>
  <button mat-raised-button (click)="refresh()" class="btn-refresh">Refresh</button>
</div>
<div>
  <div class="task-list">
    <app-task-grid [tasks]="taskList"
                   (onSelectionChanged)="onTaskSelected($event)"
                   (onTaskCompleted)="onTaskCompleted($event)"
                   (onTaskDeleted)="onTaskDeleted($event)"
                   [selectedTaskId]="selectedTaskId"
                   [filter]="taskFilter"></app-task-grid>
  </div>
  <div class="task-details">
    <app-task-details [task]="taskDetails"></app-task-details>
  </div>
</div>
