<div class="grid-container">
  <dx-data-grid id="gridContainer"
                [dataSource]="tasks"
                (onSelectionChanged)="onRowSelected($event)"
                [selectedRowKeys]="[selectedTaskId]"
                [height]="height">
    <dxo-selection mode="single"></dxo-selection>
    <dxi-column dataField="name" caption="Name"></dxi-column>
    <dxi-column dataField="priority" [width]="70" caption="Priority"></dxi-column>
    <dxi-column dataField="dateAdded" caption="Added" dataType="date" format="yyyy-MM-dd HH:mm"></dxi-column>
    <dxi-column name="timeToComplete" caption="Time to complete"
                [allowFiltering]="false"
                [allowSorting]="false"
                cellTemplate="ttcTemplate">
      <div *dxTemplate="let ttc of 'ttcTemplate'">
        <span appDateDiff [appDateFrom]="currentDate" [appDateTo]="ttc.data.timeToComplete"></span>
      </div>
    </dxi-column>
    <dxi-column name="edit" caption="Actions"
                [allowFiltering]="false"
                [allowSorting]="false"
                cellTemplate="cellTemplate">
      <div *dxTemplate="let data of 'cellTemplate'">
        <a *ngIf="data.data.status == Status.Active" (click)="completeTask(data.data)">Complete</a>
        <a *ngIf="data.data.status == Status.Completed" (click)="removeTask(data.data)">Remove</a>
      </div>
    </dxi-column>
    <dxo-load-panel [enabled]="false"></dxo-load-panel>
    <dxo-scrolling mode="infinite"></dxo-scrolling>
    <dxo-sorting mode="none"></dxo-sorting>
  </dx-data-grid>
</div>
